In [1]:
import requests
import pandas as pd

In [2]:
try:
    # URL của API JSON
    #url = 'https://656de793bcc5618d3c243220.mockapi.io/NhanVien'  # Thay đổi URL thành URL thực tế của API JSON
    urlProject='http://localhost:8080/api/penguins'
    #urlStaff='http://localhost:8080/api/staff'
    # Gửi yêu cầu GET đến API và lấy dữ liệu JSON
    response = requests.get(urlProject)
    #response2 = requests.get(urlStaff)
    # Kiểm tra mã trạng thái của phản hồi
    response.raise_for_status()
    # Biến dữ liệu JSON thành DataFrame
    dataPenguins = response.json()
    dfPenguins = pd.DataFrame(dataPenguins)
    #dfStaff = pd.DataFrame(dataStaff)
    # Hiển thị DataFrame
    #print(df)
except requests.exceptions.RequestException as e:
    print("Có lỗi khi gửi yêu cầu đến API:", e)
except ValueError as e:
    print("Có lỗi khi xử lý dữ liệu JSON:", e)
except Exception as e:
    print("Có lỗi không xác định:", e)

In [3]:
dfPenguins

,_id,penguin_id,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,"{'timestamp': 1716530629, 'date': '2024-05-24T...",0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,"{'timestamp': 1716530629, 'date': '2024-05-24T...",1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,"{'timestamp': 1716530629, 'date': '2024-05-24T...",2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,"{'timestamp': 1716530629, 'date': '2024-05-24T...",4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,"{'timestamp': 1716530629, 'date': '2024-05-24T...",5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...,...,...
329,"{'timestamp': 1716530629, 'date': '2024-05-24T...",340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
330,"{'timestamp': 1716530629, 'date': '2024-05-24T...",341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
331,"{'timestamp': 1716530629, 'date': '2024-05-24T...",342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
332,"{'timestamp': 1717863977, 'date': '2024-06-08T...",343,Heo,Nam Cuc,39.1,18.7,181.0,3750.0,MALE
333,"{'timestamp': 1717865263, 'date': '2024-06-08T...",344,Heo Moi,Nam Cuc,39.1,18.7,181.0,3750.0,MALE

In [4]:
# Thêm vào API
new_data = {
    "penguin_id	":355,
    "species": "Ben",
    "island":"Nam Cuc",
    "bill_length_mm": 40.1,
    "bill_depth_mm": 20.1,
    "flipper_length_mm": 181.0,
    "body_mass_g": 20000.1,
    "sex":"MALE"
}

In [5]:
import json
response = requests.post("http://localhost:8080/api/penguins", data=json.dumps(new_data), headers={"Content-Type": "application/json"})